<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <application android:label="Suraksha Saathi" android:theme="@style/AppTheme" android:icon="@drawable/ic_launcher" android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <meta-data android:name="com.google.ar.core" android:value="optional" />
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".ComponentPracticeActivity" android:exported="false" />
        <activity android:name=".RecallActivity" android:exported="false" />
        <activity android:name=".EquipmentActivity" android:exported="false" />
        <activity android:name=".ArActivity" android:exported="false" android:screenOrientation="portrait" />
    </application>
</manifest>
